<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>668429680521-plc8q8kcdu7bhrqikob6dkdjddl4q41h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668429680521-plc8q8kcdu7bhrqikob6dkdjddl4q41h</string>
	<key>API_KEY</key>
	<string>AIzaSyCys8GITe3FsfaEjgwce45El1C6woGmfHc</string>
	<key>GCM_SENDER_ID</key>
	<string>668429680521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spryrocks.spoonandfork</string>
	<key>PROJECT_ID</key>
	<string>decisive-coder-283507</string>
	<key>STORAGE_BUCKET</key>
	<string>decisive-coder-283507.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668429680521:ios:d9e6d7f601e37270702b58</string>
	<key>DATABASE_URL</key>
	<string>https://decisive-coder-283507.firebaseio.com</string>
</dict>
</plist>