<html>
<head><title>This is Your new Password</title></head>
<body>
<p style="font-size: 17px">
    <span>Sorry {{courierName}}, Your documents has been rejected.
    Reason: {{comment}}
    </span>
</p>
</body>
</html>
