<html>
<head><title>Your new password</title></head>
<body>
<p style="font-size: 17px">New password:
    <span style="border:2px; border-style:solid; border-color:gray; margin-left: 1em; padding: 1em; font-size: 15px;">{{newPassword}}</span>
</p>
</body>
</html>
