@font-face {
  font-family: 'AmaticSC-Bold';
  src: local('AmaticSC-Bold'), url(./AmaticSC-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'AmaticSC-Regular';
  src: local('AmaticSC-Regular'), url(./AmaticSC-Regular.ttf) format('truetype');
}

